
h1{
    text-align: center;
    margin: 0 auto;
    width: 1203px;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 75px;
    padding-top: 37px;
    position: relative;

}
.underline{
    position: absolute;
    left: 70%;
    top: 55%;
}
.fly{
    position: absolute;
    left: 20%;
    top: 45%;
}
.flag{
    position: absolute;
    left: 80%;
    top: 50%;
}

.booking{
 display: flex;
 justify-content: center;
 margin-top: 60px;
}
.image{
    margin-top: 30px;
    display: flex;
   justify-content: center;
   max-width: 100%;

}
.background{ 
    background-color: #00308F;
    height: 264px;
margin-top: -8rem;

z-index: -2;

}