<div class="main">
    <div class="heading">
        <h1>Skyrocket Your Hotel Bookings with Our
            Proven Marketing SYSTEMS - Get 50+ <span class="underline"><img src="../../assets/images/underline.png"
                    alt=""></span> Direct
            Bookings in 90 Days!</h1>
    </div>
    <span class="fly"><img src="../../assets/images/fly.png" alt=""></span>
    <span class="flag"><img src="../../assets/images/flag.png" alt=""></span>
    <div class="booking">
        <app-button>Unlock my booking boost now</app-button>
    </div>
    <div class="image">
        <img src="../../assets/images/image.png" alt="">
    </div>
    <div class="background"></div>
</div>